body {
    font-family: 'Poppins', sans-serif;
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
}


/* first section */

.first-container {
    display: flex;
}

.intro-title h1 {
    font-weight: 700px;
    font-size: 52px;
    line-height: 70px;
}

.intro-title p {
    font-weight: 600px;
    font-size: 16px;
    line-height: 24px;
    width: 70%;
}

.intro-title button {
    background-color: #E02C6D;
    padding: 10px 24px;
    border: 0px;
    border-radius: 15px;
}

.intro-image img {
    width: 440px;
    height: 414px;
    margin-right: 50px;
}


/* popular collection */

.all-collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.collection {
    border: 1px solid white;
    width: 329px;
    height: 476px;
    padding-left: 30px;
    padding-top: 17px;
    box-shadow: 20px 20px 50px 15px grey;
}

.ratings-info {
    display: flex;
}